/* main.css */
body {
  padding-top: 70px;
	background: #eaeaea;
}

h1, 
h2, 
h3 {
  border-bottom: 1px solid #d9d9d9;
}

.container {
  max-width: 70%;
}

button {
  margin-right: 15px;
}

#results {
  border: 1px solid #a9a9a9;
	box-shadow: 3px 3px 7px #a9a9a9;
}

.navbar-brand, .active {
  font-weight: 900;
}
