/* main.css */
body {
	background: #eaeaea;
}

h1, h2, h3 {
    border-bottom: 1px solid #d9d9d9;
}

.container {
    padding-top: 50px;
    max-width: 75%;
}

button {
    margin-right: 15px;
}

label, button {
	font-weight: 900 !important;
}

#results {
    border: 1px solid #a9a9a9;
	box-shadow: 3px 3px 7px #a9a9a9;
}